                    /*color code
#97bfb4    blue
#4f091d    brown
#f0e9d8    off white
                    color code*/
body{
  margin: 0px;
}
                    /*start of navbar*/
.topnav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 10px;
  z-index: 1;
  width: 100%;
  justify-content: space-evenly;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  background-color: #AED6F1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  -webkit-border-radius: 2em;
  border: gray solid 1.5px;
}

/*on hover color change*/
.topnav a:hover {
  background-color: #97bfb4;
  color: #4f091d;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #97bfb4;
  color: #4f091d;
}
                    /*end of navbar*/

                    /*start of UE slide*/
#UEsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #34495E;
  height: 100%;
  border-bottom: black solid 3px;
}
.UEtitle {
  order: 1;
  font-size: 9vw;
  text-align: center;
  color: white;
  margin: 0;
}

.UEdesc {
  order: 2;
  font-size: 2vw;
  color: white;
  text-align: center;
}
.usimg {
  order: 3;
  align-self: center;
}

.us-img {
  width: 30vw;
  height: auto;
  -webkit-border-radius: 3em;
  border: black solid 2.5px;
}

                    /*end of UE slide*/

                    /*start of About Us slide*/
#AboutUs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f0e9d8;
  color: #4f091d;
  height: 100%;
  font-size: 2vw;
  text-align: center;
  border-bottom: black solid 3px;
}
                    /*end of About Us slide*/

                    /*Start of OurTeam slide*/
#OurTeam{
  height: 100%;
  background-color: #97bfb4;
  padding-top: 30px;
  border-bottom: black solid 3px;
}

#our-team-title{
  text-align: center;
}

#images{
  margin: auto;
  width: 200px;
}

.ben {
  width: 200px;
  height: 140px;
}


#bioParent {
  order: 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-evenly;

}
@media screen and (min-width: 1000px){
    #bioParent {
      flex-direction: row;
    }
}

.Bio{
  font-size: 1.5vw;
  padding-top: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 1.5vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  -webkit-border-radius: 2em;
  border: gray solid 1.5px;
}

        /*End of Our team slide and images--------*/

                    /*end of OurTeam slide*/

                    /*start of Homes for Haiti slide*/
#H4H {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f0e9d8;
  color: #4f091d;
  height: 100%;
  font-size: 100%;
  text-align: center;

  border-bottom: black solid 3px;
}
                    /*end of Homes for Haiti slide*/

                    /*start of Contact slide*/
#Contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #97bfb4;
  color: #4f091d;
  height: 100%;
  font-size: 100%;
  text-align: center;
  border-bottom: black solid 3px;
}

#contactinfo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: .9;
  background-color: #f0e9d8;
  color: #97bfb4;
  width: 60%;
  height: auto;
  font-size: 3vw;
  text-align: center;
}
                    /*end of Contact slide*/


.text {

}
