                    /*color code
#97bfb4    blue
#4f091d    brown
#f0e9d8    off white
                    color code*/
body{
  margin: 0px;
}
                    /*start of navbar*/
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #4f091d;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f0e9d8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*on hover color change*/
.topnav a:hover {
  background-color: #97bfb4;
  color: #4f091d;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #97bfb4;
  color: #4f091d;
}

                    /*end of navbar*/

                    /*start of UE slide*/



/* Slideshow container */
.slideshow-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: black;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  height: 5em;
  width: 5em;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #97bfb4;
  font-size: 30px;
  padding: 8px 12px;
  position: relative;
  bottom: 12px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

                    /*end of UE slide*/

                    /*start of About Us slide*/
#AboutUs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f0e9d8;
  color: #4f091d;
  height: 100%;
  font-size: 4em;
  text-align: center;
  border-bottom: black solid 3px;
}

#OurTeam{
  background-color: #4f091d;
  padding-top: 30px;
}

#our-team-title{
  text-align: center;
}

#images{
  margin: auto;
  width: 200px;
}

.ben {
  width: 200px;
  height: 140px;
}


#bioParent {
  order: 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-evenly;

}
@media screen and (min-width: 1000px){
    #bioParent {
      flex-direction: row;
    }
}

.Bio{
  font-size: 20px;
  padding-top: 2em;
  padding-right: 5em;
  padding-bottom: 2em;
  padding-left: 5em;
}

        /*End of Our team slide and images--------*/

                    /*end of OurTeam slide*/

                    /*start of Homes for Haiti slide*/
#H4H {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f0e9d8;
  color: #4f091d;
  height: 100%;
  font-size: 100%;
  text-align: center;

  border-bottom: black solid 3px;
}
                    /*end of Homes for Haiti slide*/

                    /*start of Contact slide*/
#Contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #97bfb4;
  color: #4f091d;
  height: 100%;
  font-size: 100%;
  text-align: center;

  border-bottom: black solid 3px;
}
                    /*end of Contact slide*/


.text {

}
